@charset "UTF-8";
/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    text-shadow: 3px 3px 0px gray;
}