@charset "UTF-8";

/* Estilos para impressão */

*
{
    margin: 10px;
    padding: 10px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-break: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: " Esse artigo foi impresso através do site www.cursoemvideo.com";
}