@charset "UTF-8";

/* Estilos para telas */

* {
    margin: 0px;
    padding: 0px;
    
}

html {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(174, 214, 207);

}

header > h1 {

    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: rgb(103, 173, 175);
}

menu li {
    padding: 15px;
    display: inline-block;
    color: white;
    background-color: rgb(67, 148, 151);
}

article {
    margin: auto;
    width: 600px;
    display: block;
}