@charset "UTF-8";

* {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            }

            html, body {
            width: 100vw;
            height: 100vh;
            background-color: #233eff;
            background-repeat: no-repeat;
            background-size: cover;
            
            }

            h1 {
            text-shadow: 3px 3px 0px gray;
            }
            
            /* Declarações de retrato */
            @media screen and (orientation: portrait) {
            body {
            background: url(../cev-portrait.jpg);
            background-position: center bottom;
            background-repeat: no-repeat;
            }}
            
            /* Declarações de paisagem */
            @media screen and (orientation: landscape)
           { body {
            background: url(../cev-landscape.jpg);
            background-position: left bottom;
            background-repeat: no-repeat;
             }}