@charset "UTF-8";

 /* todas as demais medias */



    @media print {
        body {
            background-image: url(../imagens/back-print.jpg);
        }
            img#phone {display: none;}
            img#tablet {display: none;}
            img#pc {display: none;}
            img#print {display: block;}
            img#tv {display: none;}

    }
    
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      body {
        background-image: url(../imagens/back-tablet.jpg);
      }
        img#phone {display: none;}
        img#tablet {display: block;}
        img#pc {display: none;}
        img#print {display: none;}
        img#tv {display: none;}
    } 

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
        body {
            background-image: url(../imagens/back-pc.jpg);
        }
            img#phone {display: none;}
            img#tablet {display: none;}
            img#pc {display: block;}
            img#print {display: none;}
            img#tv {display: none;}
        
    
    }

    @media screen and (min-width: 1400px) {
        body {
            background-image: url(../imagens/back-tv.jpg);
        }
            img#phone {display: none;}
            img#tablet {display: none;}
            img#pc {display: none;}
            img#print {display: none;}
            img#tv {display: block;}
        
    
    }