@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #b8b8b8, #ffffff );
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #808080;
    color: white;
    padding: 10px;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

header > h1 {
   /* border: 1px dotted black;
    flex: 0 0 200px; */


}

header > nav {
  /*  border: 1px dotted black; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

header > nav > a:hover {
    background-color: #ffffff;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

main {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}
