@charset "UTF-8";

*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {

   
    background-color: rgb(245, 228, 180);
}

header {
    background-color: rgb(233, 172, 98);
}

header > h1{
    color: white;
    text-align: center;
    padding: 10px;
}

i#burguer {
    background-color: rgb(180, 129, 71);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

i#burguer:hover {
    background-color: rgb(240, 186, 120);
    color: black;
}

menu { 
    display: none;
}

menu > ul {
    list-style-type: none;

}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(180, 129, 71);
    border-top: 2px solid rgb(141, 98, 57);
}

menu > ul > li > a:hover {
    background-color: rgb(240, 186, 120);
}

main {
    width: 90vw;
    padding: 10px;
    margin : auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

